/* ─── RESPONSIVE ──────────────────────────────────────────── */
@media (max-width: 768px) {
  nav{ opacity: 0; height: 0; font: var(--gap-xl);}
  .visible { opacity: 1; height: auto; flex-direction: column; gap: var(--gap-sm); border-radius: 0; }
  .nav-logo { display: none; }
  .nav-toggle { display: block;}

  section.hero,
  section.about-split,
  section.contact {
    grid-template-columns: 1fr;
  }
  section.hero .hero-image { height: 50vh; }
  section.hero .hero-text { padding: var(--gap-lg) var(--pad-x) var(--gap-md); }

  section.services .services-grid,

  section.process .process-steps { grid-template-columns: 1fr; }

  section.work .work-grid { display: block; }
  section.work .work-item { width: 100%; height: 50vh; }
  /* section.work .work-item--large { grid-row: span 1; } */

  /* section.press .press-logos { gap: var(--gap-lg); } */

  footer { flex-direction: column; gap: var(--gap-sm); }
}
